body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
#btn{
    margin-top: 10px;
    background-color: green;
    color:white;
    
}
#result{
    margin-top: 10px;
    background-color: plum;
    text-align: center;
    
}